@import "tailwindcss";

:root {
  --foreground: hsla(112, 61%, 40%, 1);
  --secondary: hsla(124, 64%, 91%, 1);
  --background: hsla(165, 20%, 96%, 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: hsla(112, 61%, 60%, 1);
    --secondary: hsla(124, 64%, 9%, 1);
    --background: hsla(165, 20%, 4%, 1);
  }
}

body {
  background: var(--background);
}
