@import "tailwindcss";

:root {
  --foreground: hsla(112, 61%, 50%, 1);
  --secondary: hsla(124, 64%, 9%, 1);
  --background: hsla(165, 20%, 96%, 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --animate-load: load 1s linear infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --secondary: hsla(124, 64%, 91%, 1);
    --background: hsla(165, 20%, 4%, 1);
  }
}

body {
  background: var(--background);
  color: var(--secondary);
}

@layer components {
  .form-input {
    @apply flex items-center gap-3 rounded-2xl bg-green-50 px-3 py-2 text-black placeholder:text-black/50;
  }
  .form-input-label {
    @apply ml-3 text-xl font-bold;
  }
  .cta-button {
    @apply border-foreground hover:bg-foreground rounded-full border-2 px-2 py-1 duration-300;
  }
}

@keyframes load {
  from {
    stroke-dashoffset: 0;
  }
  80% {
    fill: transparent;
  }
  to {
    fill: var(--foreground);
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
  }
}
